node-RED/flows.json
[{"id":"174ebd3f.4852c3","type":"tab","label":"Room Sensor","disabled":false,"info":""},{"id":"d34d976a.dc0ae8","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room1/temperature","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":260,"y":120,"wires":[["65d367ec.26a4e8"]]},{"id":"4e4afa9d.106724","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room1/humidity","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":260,"y":180,"wires":[["1753fb4c.359535"]]},{"id":"65d367ec.26a4e8","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"ce309cc7.eb812","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":120,"wires":[]},{"id":"1753fb4c.359535","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"ce309cc7.eb812","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":180,"wires":[]},{"id":"3fe6f6cb.f541ea","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room2/temperature","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":250,"y":420,"wires":[["461d7265.455a4c"]]},{"id":"d8b3d112.c8dfb","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room2/humidity","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":250,"y":480,"wires":[["b67da0b9.608ca"]]},{"id":"461d7265.455a4c","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"67c5c85b.7fe8b8","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":420,"wires":[]},{"id":"b67da0b9.608ca","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"67c5c85b.7fe8b8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":480,"wires":[]},{"id":"dc4f8830.da6ed8","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room1/brightness","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":260,"y":240,"wires":[["15ff5612.a5883a"]]},{"id":"c898fa4.7d25308","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room2/brightness","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":260,"y":560,"wires":[["509bb321.b899dc"]]},{"id":"7dd8f2e1.29b2ac","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"ce309cc7.eb812","order":3,"width":0,"height":0,"gtype":"gage","title":"Brightness","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"1b887c08.f5e1a4","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"67c5c85b.7fe8b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Brightness","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":560,"wires":[]},{"id":"72643342.02595c","type":"mqtt out","z":"174ebd3f.4852c3","name":"","topic":"home/room1/led","qos":"1","retain":"","broker":"f48ee7ca.2ee2a8","x":730,"y":60,"wires":[]},{"id":"4f82b1e.b26405","type":"ui_switch","z":"174ebd3f.4852c3","name":"","label":"LED switch","tooltip":"","group":"ce309cc7.eb812","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"esp/dht1/led","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":490,"y":60,"wires":[["72643342.02595c"]]},{"id":"e7989f4e.fc7be","type":"mqtt out","z":"174ebd3f.4852c3","name":"","topic":"home/room2/led","qos":"","retain":"","broker":"f48ee7ca.2ee2a8","x":700,"y":360,"wires":[]},{"id":"8d8655c5.5bb548","type":"ui_switch","z":"174ebd3f.4852c3","name":"","label":"LED switch","tooltip":"","group":"67c5c85b.7fe8b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"esp/dht2/led","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":490,"y":360,"wires":[["e7989f4e.fc7be"]]},{"id":"96e97af5.012668","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room1/ledState","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":260,"y":60,"wires":[["4f82b1e.b26405"]]},{"id":"fa11cb86.6d5c58","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room2/ledState","qos":"1","datatype":"utf8","broker":"f48ee7ca.2ee2a8","x":240,"y":360,"wires":[["8d8655c5.5bb548"]]},{"id":"509bb321.b899dc","type":"function","z":"174ebd3f.4852c3","name":"","func":"var payload = msg.payload; //get payload\nmsg.payload = 1024 - payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":560,"wires":[["1b887c08.f5e1a4"]]},{"id":"15ff5612.a5883a","type":"function","z":"174ebd3f.4852c3","name":"","func":"var payload = msg.payload; //get payload\nmsg.payload = 1024 - payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["7dd8f2e1.29b2ac","93dd7db9.ee7e8"]]},{"id":"c2b3f588.aff798","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"home/room3/temperature","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":270,"y":700,"wires":[["45ffaff7.bf577","a4873262.34b9f"]]},{"id":"45ffaff7.bf577","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"270d33c3.721a9c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":700,"wires":[]},{"id":"93dd7db9.ee7e8","type":"debug","z":"174ebd3f.4852c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":300,"wires":[]},{"id":"a4873262.34b9f","type":"ui_chart","z":"174ebd3f.4852c3","name":"","group":"270d33c3.721a9c","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":680,"y":660,"wires":[[]]},{"id":"f48ee7ca.2ee2a8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce309cc7.eb812","type":"ui_group","name":"Room1","tab":"ddbe0320.9be3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"67c5c85b.7fe8b8","type":"ui_group","name":"Room2","tab":"ddbe0320.9be3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"270d33c3.721a9c","type":"ui_group","name":"Room3","tab":"ddbe0320.9be3c","order":3,"disp":true,"width":"6","collapse":false},{"id":"ddbe0320.9be3c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]