node-RED/flows.json
[{"id":"174ebd3f.4852c3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f48ee7ca.2ee2a8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ddbe0320.9be3c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a79855c5.969f18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce309cc7.eb812","type":"ui_group","name":"DHT1","tab":"ddbe0320.9be3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"67c5c85b.7fe8b8","type":"ui_group","name":"DHT2","tab":"ddbe0320.9be3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d34d976a.dc0ae8","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"esp/dht1/temperature","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":250,"y":120,"wires":[["65d367ec.26a4e8"]]},{"id":"4e4afa9d.106724","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"esp/dht1/humidity","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":240,"y":180,"wires":[["1753fb4c.359535"]]},{"id":"65d367ec.26a4e8","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"ce309cc7.eb812","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature1","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":120,"wires":[]},{"id":"1753fb4c.359535","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"ce309cc7.eb812","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":180,"wires":[]},{"id":"3fe6f6cb.f541ea","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"esp/dht2/temperature","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":240,"y":400,"wires":[["461d7265.455a4c"]]},{"id":"d8b3d112.c8dfb","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"esp/dht2/humidity","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":230,"y":480,"wires":[["b67da0b9.608ca"]]},{"id":"461d7265.455a4c","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"67c5c85b.7fe8b8","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature2","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":400,"wires":[]},{"id":"b67da0b9.608ca","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"67c5c85b.7fe8b8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":480,"wires":[]},{"id":"dc4f8830.da6ed8","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"esp/dht1/light","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":230,"y":240,"wires":[["15ff5612.a5883a","3c471a18.500396"]]},{"id":"c898fa4.7d25308","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"esp/dht2/light","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":220,"y":560,"wires":[["509bb321.b899dc"]]},{"id":"7dd8f2e1.29b2ac","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"ce309cc7.eb812","order":3,"width":0,"height":0,"gtype":"gage","title":"Light1","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":240,"wires":[]},{"id":"1b887c08.f5e1a4","type":"ui_gauge","z":"174ebd3f.4852c3","name":"","group":"67c5c85b.7fe8b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Light2","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":560,"wires":[]},{"id":"72643342.02595c","type":"mqtt out","z":"174ebd3f.4852c3","name":"","topic":"esp/dht1/led","qos":"1","retain":"","broker":"f48ee7ca.2ee2a8","x":770,"y":60,"wires":[]},{"id":"4f82b1e.b26405","type":"ui_switch","z":"174ebd3f.4852c3","name":"","label":"LED switch","tooltip":"","group":"ce309cc7.eb812","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"esp/dht1/led","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":510,"y":60,"wires":[["72643342.02595c"]]},{"id":"e7989f4e.fc7be","type":"mqtt out","z":"174ebd3f.4852c3","name":"","topic":"esp/dht2/led","qos":"","retain":"","broker":"f48ee7ca.2ee2a8","x":770,"y":340,"wires":[]},{"id":"8d8655c5.5bb548","type":"ui_switch","z":"174ebd3f.4852c3","name":"","label":"LED switch","tooltip":"","group":"67c5c85b.7fe8b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"esp/dht2/led","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":490,"y":340,"wires":[["e7989f4e.fc7be"]]},{"id":"96e97af5.012668","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"esp/dht1/ledState","qos":"1","datatype":"auto","broker":"f48ee7ca.2ee2a8","x":240,"y":60,"wires":[["4f82b1e.b26405"]]},{"id":"fa11cb86.6d5c58","type":"mqtt in","z":"174ebd3f.4852c3","name":"","topic":"esp/dht2/ledState","qos":"1","datatype":"utf8","broker":"f48ee7ca.2ee2a8","x":230,"y":340,"wires":[["8d8655c5.5bb548"]]},{"id":"3c471a18.500396","type":"debug","z":"174ebd3f.4852c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"509bb321.b899dc","type":"function","z":"174ebd3f.4852c3","name":"","func":"var payload = msg.payload; //get payload\nmsg.payload = 1024 - payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":560,"wires":[["1b887c08.f5e1a4"]]},{"id":"15ff5612.a5883a","type":"function","z":"174ebd3f.4852c3","name":"","func":"var payload = msg.payload; //get payload\nmsg.payload = 1024 - payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["7dd8f2e1.29b2ac","3c471a18.500396"]]}]